* {
    box-sizing: border-box;
}

body {
    font: 16px/20px Arial, sans-serif;
    background-color: azure;
}

.wrapper {
    height: 100%;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 150px;
    background-color: black;
    border-bottom: 2px solid azure;
}

.section {
    width: 100%;
    height: 100%;
    background-color: burlywood;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: black;
    border-top: 2px solid azure;
}